

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #2c3e50;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
}


/* Navigation */
nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Main content */
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

section {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* Button */
button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

button:hover {
  background-color: #2980b9;
}

/* Dog container */
#dog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dog-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Error message */
.error {
  color: #e74c3c;
  margin-top: 1rem;
  font-weight: bold;
}

img { max-width: 300px; height: auto; cursor: pointer; }

/*=======================================*/
#breed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

#favorites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 65%;
  cursor: pointer;
}

#mixContainer{
  width: 100%;
}


.fav-btn.active {
  background-color: red;
  color: white;
}

